<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Student Tracker</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="navbar">

        <h1>📚 Student Tracker</h1>

        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/study">Study Tracker</a></li>
            <li><a href="/todo">To-Do List</a></li>
            <li><a href="/water">Water Tracker</a></li>
            <li><a href="/habits">Habits</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
        </ul>

    </div>

    <main class="container">

        {% block content %}
        {% endblock %}

    </main>
    <footer class="footer">
        <p>📚 Student Tracker</p>
        <p>Built with Python, Flask & SQLite</p>
        <p>© 2026 Navya sri</p>
    </footer>

</body>
</html>